<h1> Song Details </h1>
<p> Song Title: <%= @song.title %></p>
<p> Song Release Year: <%= @song.release_year %></p>
<p> Song Genre: <%= @song.genre %></p>
<p> Song Artist: <%= @song.artist_name %></p>
<p> Released?: <%= @song.released %></p>
